body {
    background: url("bg.jpg") repeat 0 0;
    background-size: cover;
    align-items: center;
    text-align: center;
  }
header{
  background: url("bg2.jpg");
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
footer{
  background: url("bg2.jpg");
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
  #container{
      display: grid;
  }
  h1 {
    color: blue;
    font-size: 300%;
    text-align: center;
  }
  h2 {
    color: green;
    font-size: 160%;
    text-align: center;
  }
  p {
    color: blue;
    font-size: 120%;
    text-align: center;
  }
  ul{
    display: inline-block;
  }